{% extends "blog3/base.html" %}
 
{% block content %}
    <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Welcome to Django</h1>
                <p class="lead">This is a basic template for you to learn Bootstrap</p>
            </div>
    </header>

     <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>About this page</h2>
                        <p class="lead">This is a great place to talk about your webpage. This template features:</p>
                        <ul>
                            <li>Show the Bootstrap</li>
                            <li>Use a template</li>
                            <li>Navbar and background template</li>
                            <li>Minimal custom CSS so you are free to explore your own unique design options</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}
